<IfModule mod_suphp.c>
	suPHP_ConfigPath /home/jimbirch/public_html/catsinmyyard.com//php.ini
	<Files php.ini>
		order allow,deny
		deny from all
	</Files>
</IfModule>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

Redirect 301 /tnr-works-67-reduction-outdoor-cats-since-2007-3798 http://www.catsinmyyard.com/resource/trap-neuter-return-case-study-2014
Redirect 301 /trap-neuter-return-case-study-2377 http://www.catsinmyyard.com/trap-neuter-return-case-study-2013
Redirect 301 /resource/2015-trap-neuter-return-case-study http://www.catsinmyyard.com/trap-neuter-return-case-study-2015
Redirect 301 /4675-4675 http://www.catsinmyyard.com/trap-neuter-return-case-study-2015
